* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul#lista {
    background: #aaa;
    list-style: none;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

li {
    font-size: 32px;
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
    width: calc( 100% / 10 );
}

li:nth-last-child( n + 11 ) {
    border-bottom: solid rgb(48, 84, 48) 5px;
}

li strong {
    color:  rgb(48, 84, 48);
}

li span {
    color:  rgb(50, 110, 60);
}